@charset "UTF-8";

body{
    background-color: #d6fde9; ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1e402f;
}

h1#principal{
    text-align: center;
    background-color: #2c5e45;
    color:white;
}

h2{
   color: #3c805e;
    
}
.basico{
    color: green;
}
.intermediario{
    color: rgba(222, 222, 59, 0.893);
}
.avançado{
    color: red;
}